<div class="page">
  <div class="page__container">
    <h1>Tasks</h1>

    <h2>Paste copied text</h2>
    <textarea cols="30" rows="3"></textarea>

    <div class="task-column-view">

      <div>
        <h2>Todo</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="tasks.todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="task-list"
          (cdkDropListDropped)="drop($event)">
          <div class="task-list__elem" *ngFor="let item of tasks.todo" cdkDrag>
            <span>{{item}}</span>
            <button mat-button [cdkCopyToClipboard]="item" (click)="onCopy()" type="button">Copy</button>
          </div>
        </div>
      </div>

      <div>
        <h2>Done</h2>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="tasks.done"
          [cdkDropListConnectedTo]="[todoList]"
          class="task-list"
          (cdkDropListDropped)="drop($event)">
          <div class="task-list__elem task-list__elem--done" *ngFor="let item of tasks.done" cdkDrag>
            <span>{{item}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
