.list-comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.item-list {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 0.5rem;
  height: 300px;
  overflow: auto;

  &__elem {
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgrey;

    &:last-of-type {
      border: none;
    }
  }
}

button, .count-field {
  margin-bottom: 2rem;
}
