<mat-toolbar color="primary">
  <nav class="nav">
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </nav>
  <span>G-Group Playground</span>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #menu="matMenu">
  <button [mat-menu-trigger-for]="ngrx" mat-menu-item>
    NgRX
  </button>
  <button [mat-menu-trigger-for]="material" mat-menu-item>
    Material
  </button>
</mat-menu>

<mat-menu #ngrx="matMenu">
  <button routerLink="/ngrx/counter" mat-menu-item>
    Counter
  </button>
  <button routerLink="/ngrx/book-list" mat-menu-item>
    Book-list
  </button>
</mat-menu>

<mat-menu #material="matMenu">
  <button *ngIf="!(loggedIn$ | async) else tasks" routerLink="/login" mat-menu-item>
    Tasks - Login to see what's in
  </button>
  <ng-template #tasks>
    <button routerLink="/tasks" mat-menu-item>
      Tasks
    </button>
  </ng-template>
  <button routerLink="/accordion" mat-menu-item>
    Accordion
  </button>
  <button routerLink="/virtual-scroll" mat-menu-item>
    VirtualScroll
  </button>
</mat-menu>
