/* You can add global styles to this file, and also import other style files */

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 900px;
    margin: 2rem;
    box-shadow: 0 0 1rem 0 #888888;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}

.book-item {
  padding: 1rem;
  border-bottom: 1px solid grey;

  &__action-button {
    display: block;
    margin-bottom: 2rem;
  }
}
