<h2>Change password form</h2>

<div class="row">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          [readonly]="name.pending"
          type="text"
          [formControlName]="Fields.name">
      </mat-form-field>
      <mat-spinner *ngIf="name.pending" diameter="35"></mat-spinner>
      <p *ngIf="name.errors?.['excludedNames'] as excludedNames" style="color: red">
        Sorry, but names:
        <span *ngFor="let name of excludedNames; last as isLast">
          <b>{{ name }}</b><span *ngIf="!isLast">, </span>
        </span>
         are not allowed :(
      </p>
      <p *ngIf="name.valid" style="color: green">
        Your name is ok!
      </p>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input matInput type="text" [formControlName]="Fields.oldPassword">
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput type="text" [formControlName]="Fields.newPassword">
      </mat-form-field>
    </div>

    <div class="col">
      <button mat-raised-button>Submit</button>
    </div>

    <p>
      {{ result }}
    </p>
  </form>
</div>
